@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  margin: 0;
  font-family: 'Verdana', 'sans-serif';
  color: #fffff0;
  background-color: #333;
}

/* Navbar */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.navbar h1 {
  font-family: 'Alfa Slab One';
  color: #f12345
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f12345
}

/* Content */

.content {
  max-width: 1260px;
  margin: auto;
  padding: 20px;
}

/* Home */

.home {
  text-align: center;
}

.home h1 {
  font-family: 'Alfa Slab One';
  font-size: 80px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 10px;
}

.search input {
  background-color: #fffff0;
  color: #000;
  width: 200px;
  height: 30px;
  margin: 10px;
}

#search-btn {
  background-color: #f12345;
  width: 150px;
  height: 40px;
  margin: 20px;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
}

/* Movie Link */

.movie-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-link a:hover {
  box-shadow: 1px 3px 5 px rgba(0,0,0,0.1);
}

.poster img {
  width: 200px;
  padding: 10px;
}

.movie-info {
  width: 400px;
  padding: 10px;
}
